.parallax{
  height:480px;
  padding-bottom:0px;
  border-bottom: 0px;
  margin-bottom: 300px;
}


.card-image .activator{
  margin-bottom: 2500px;
}

.card-panel{
	height: inherit; !important;

}
.card-content{
	height:inherit;
	margin-bottom: 8px;s

}

#safenighttext2{
  width:100%;
}
#homeslide4{
	transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */
}


#legofinalpic3{
	display:block;
    width:100%; /* you can use % */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.tabs .tab a{
    transition-property: display;
    transition-duration: 0.50ss;
    transition-timing-function: ease-in-out;
    width: 100%;
}

#abtmecardtxt{
	font-size: 1.2rem;
}
#abtmecard3txt{
	font-size: 1.2rem;
}

#educationpicture{
	height:inherit;
}
.card.large .card-content {
    position: relative;
    bottom: 10px;
    left: 0;
    right: 0;
}

.card-large .card-title{
	position:relative;
	bottom:5px;
	left: 0;
	right: 0;
}

